.App{
  display: flex;
  justify-content: center;
}
.container{
  width: 95%;
  height: 100vh;
  border-right: 2px solid black;
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  position: fixed;
  bottom: 200px;
  width: 70%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.box p{
  width: 100%;
  text-align: start;
}
.joke{
  display: flex;
  background: lightgray;
  border-radius: 5px;
}
.joke img{
  position: relative;
  top: 15px;
  width: 4rem;
  height: 4rem;
}
button{
  width: 130px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid white;
  position: absolute;
  bottom: -40px;
  background: lightgray;
  -webkit-box-shadow: 41px 69px 9px 5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 41px 69px 9px 5px rgba(34, 60, 80, 0.6);
  box-shadow: 41px 69px 9px 5px rgba(34, 60, 80, 0.6);
  cursor: pointer;
}
.box{
  -webkit-box-shadow: 41px 69px 9px 5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 41px 69px 9px 5px rgba(34, 60, 80, 0.6);
  box-shadow: 41px 69px 9px 5px rgba(34, 60, 80, 0.6);
}
.icon-like{
  width: 30px;
  height: 30px;
  margin-right: 50px;
  margin-bottom: 10px;
}